.product_item:before {
    background-color: var(--neutral-100);
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.products_container:nth-last-child(-n + 4) .product_item::before{  
    height: 0; 
  }  